apiVersion: v1
kind: Service
metadata:
  name: microservice1
  labels:
    app: microservice1
    protected: "true"
spec:
  type: NodePort
  selector:
    app: microservice1
  ports:
  - protocol: TCP
    port: 8080
    targetPort: 8080
    nodePort: 30001
  externalIPs:
  - Worker-1
